@media (max-width: 576px) {
    .header__nav {
        grid-area: header;
    }
    
    .hero {
        grid-area: hero;
    }
    
    .rek {
        grid-area: rek;
    }
    
    .article {
        grid-area: article;
    }
    
    .sidebar {
        grid-area: sidebar;
    }
    
    .footer {
        grid-area: footer;
    }
    
    .cards-wrapper {
        background-color: rgb(39, 96, 110);
        place-self: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-template-rows: 3fr 2fr 4fr 1fr;
        grid-template-areas:
            "header header header header"
            "header header header header"
            "hero hero hero hero"
            "article article article article"
            "rek rek rek rek"
            "article article article article"
            "footer footer footer footer";
    }
    
    .item {
        // align-items: stretch;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        place-self: center;
        // padding: 80px;
        text-align: center;
        padding-top: 20px;
            // :not(:last-child);
        box-shadow:rgb(39, 179, 214);
    }
            
    .header_list{
        background-color: rgb(39, 96, 110);;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "brand brand brand brand brand brand brand brand brand brand"
            "global global global global global global tools tools tools tools";
        height: 100%;
        gap: 20px;
    
        .brand {
            grid-area: brand;
        }
    
        .global {
            grid-area: global;
        }
    
        .tools {
            grid-area: tools;
        }
    
    }
    
    .hero{
        background-color: rgb(39, 96, 110);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "call call call call call call call call call call";
        height: 100%;
        gap: 20px;
    
        .feature {
            grid-area: feature;
        }
    
        .call {
            grid-area: call;
        }
    }
    
    .article{
        background-color: rgb(39, 96, 110);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "featurear featurear featurear featurear featurear featurear featurear"
            "rek rek rek rek rek rek rek rek rek rek"
            "listing listing listing listing listing listing"
            "listing listing listing listing listing listing";
        height: 100%;
        gap: 20px;
    
        .featurear {
            grid-area: featurear;
        }
    
        .listing {
            grid-area: listing;
        }
    }
}